absl-py==0.10.0
astor==0.8.1
cycler==0.10.0
gast==0.4.0
grpcio==1.32.0
h5py==2.10.0
importlib-metadata==1.7.0
joblib==0.16.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.1.2
numpy==1.16.1
pandas==1.1.2
protobuf==3.13.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn==0.21.3
scipy==1.1.0
seaborn==0.9.0
six==1.15.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
tqdm==4.35.0
Werkzeug==1.0.1
zipp==3.1.0
